

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>agrilog</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" bg-slate-900 gap-2 h-screen flex items-center justify-center  ">
<form action="/farmerdel/<%=farmer_username%>" class="w-1/2 flex-col flex 
justify-center   bg-slate-700 rounded-md
text-slate-200 p-8 gap-2" method="POST">
<p>Are you sure you want to delete farmer</p>

<p><%=error%></p>
<label>Farmer name</label>
<input type="text"  name="username" value=<%=farmer_username%> class="text-slate-700 rounded" readonly>

<label>phone number</label>
<input type="text" name="phone_number" class="rounded text-slate-700" value=<%=phone_number%> readonly>

<label>password</label>
<input type="password" class="rounded text-slate-700" name="password" >

<button type="submit" class="bg-red-700 w-1/2">Submit</button>
<a class="bg-green-700 flex justify-center items-center w-1/2"
href="/">
<p>cancel</p>
<a>
</form>

</body>



</html>
