<a href="/newcrop">
<button  class="flex h-32 w-32 p-2 justify-center gap-2 items-center rounded bg-gray-800
text-white flex-col">
<div class="flex-1 flex items-center justify-center ">
<svg class="h-8 w-8 text-slate-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
</svg>
</div>


</div>
</button>
</a>
