<a href="/newfarmer" class="col-start-1 rounded-md flex items-center justify-center my-3  col-end-8 outline outline-1 outline-slate-300
p-2">


<svg class="h-4 w-4 text-slate-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
</svg>


</a>
