
  <div class="flex flex-col col-start-1 row-start-2 p-4 row-span-10 ">
    <div class="bg-green-800 text-slate-200 p-4 flex flex-col gap-7 w-3/4 flex-1 rounded-md ">
      <div class="font-bold "> Agrilog</div>
      <div class="flex justify-center flex-col gap-7 px-8 ">

        <div class="flex items-center  gap-2">

           <div >

<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M10.6902 2.56877C11.0998 2.35082 11.518 2.19995 11.9992 2.19995C12.4805 2.19995 12.8987 2.35082 13.3082 2.56877C13.6919 2.77292 14.1259 3.06898 14.6342 3.41561L17.9191 5.65582C18.7643 6.23217 19.4442 6.69586 19.9684 7.13028C20.5121 7.58101 20.9323 8.03478 21.2348 8.6129C21.5368 9.19023 21.6721 9.79718 21.7368 10.5067C21.7992 11.1922 21.7992 12.0267 21.7992 13.0669V16.9623C21.7993 17.8806 21.7993 18.6479 21.7192 19.2573C21.6347 19.8999 21.4486 20.4863 20.9855 20.96C20.52 21.4362 19.9395 21.63 19.3028 21.7176C18.7034 21.8 17.9502 21.8 17.0551 21.7999H6.94329C6.0482 21.8 5.29503 21.8 4.69568 21.7176C4.05898 21.63 3.47847 21.4362 3.01294 20.96C2.54989 20.4863 2.36372 19.8999 2.27927 19.2573C2.19917 18.6479 2.19919 17.8806 2.19922 16.9623V10.8805C2.19921 10.3735 2.19919 9.94045 2.23211 9.57936C2.2672 9.19438 2.3433 8.83451 2.52702 8.48335C2.71116 8.13139 2.96318 7.86502 3.2594 7.6195C3.53608 7.39016 3.8895 7.14916 4.30112 6.86848L9.36425 3.41561C9.87248 3.06899 10.3066 2.77292 10.6902 2.56877ZM8.99922 16.2C8.55739 16.2 8.19922 16.5581 8.19922 17C8.19922 17.4418 8.55739 17.8 8.99922 17.8H14.9992C15.441 17.8 15.7992 17.4418 15.7992 17C15.7992 16.5581 15.441 16.2 14.9992 16.2L8.99922 16.2Z"
    class="my-path " fill="white"></path>
</svg>

          </div>
          <p class=" text-slate-50"> Home</p>
        </div>
        <div class="flex items-center  gap-2" > 

<div>   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.3984 3.96948C19.0107 3.96948 21.1285 6.08722 21.1285 8.69957C21.1285 10.1507 20.475 11.4493 19.4463 12.3169C22.0586 13.4836 23.8792 16.1043 23.8792 19.1503C23.8792 19.6363 23.4852 20.0303 22.9992 20.0303C22.5132 20.0303 22.1192 19.6363 22.1192 19.1503C22.1192 15.9912 19.5582 13.4302 16.3991 13.4302C13.24 13.4302 10.679 15.9912 10.679 19.1503C10.679 19.6363 10.285 20.0303 9.79896 20.0303C9.31294 20.0303 8.91895 19.6363 8.91895 19.1503C8.91895 17.6305 9.3722 16.2166 10.1509 15.0363C10.0214 14.9937 9.89978 14.9204 9.79773 14.8163C8.9582 13.9599 7.79089 13.4302 6.49829 13.4302C3.94668 13.4302 1.8782 15.4987 1.8782 18.0503C1.8782 18.5363 1.4842 18.9303 0.99818 18.9303C0.51216 18.9303 0.118164 18.5363 0.118164 18.0503C0.118164 15.4623 1.65911 13.2341 3.87355 12.2334C3.2487 11.5813 2.86476 10.6965 2.86476 9.72211C2.86476 7.71728 4.49 6.09204 6.49483 6.09204C8.49966 6.09204 10.1249 7.71728 10.1249 9.72211C10.1249 10.6955 9.74175 11.5795 9.11803 12.2313C9.84686 12.56 10.5028 13.0213 11.0546 13.5842C11.1118 13.6426 11.1593 13.707 11.197 13.7753C11.8203 13.1719 12.5483 12.676 13.351 12.3173C12.322 11.4497 11.6683 10.151 11.6683 8.69957C11.6683 6.08722 13.786 3.96948 16.3984 3.96948Z" fill="white" class="my-path"></path>
</svg></div>
         <p  class=" text-slate-50">Farmers</p>  </div>
        <div  class="flex items-center gap-2 " > 

<div>   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0013 2.43652C11.488 2.43652 11.0452 2.60529 10.613 2.84961C10.2078 3.07868 9.75079 3.41106 9.21386 3.80159L5.45264 6.53702C4.47207 7.25013 3.66966 7.83367 3.14731 8.32871C2.88045 8.58161 2.63217 8.86064 2.47435 9.17183C2.30381 9.50808 2.22963 9.90462 2.36475 10.3202C2.49988 10.7357 2.79311 11.0128 3.12881 11.1844C3.15262 11.1966 3.17675 11.2083 3.20117 11.2196V17.6186C2.85957 17.9053 2.58813 18.2722 2.41431 18.6919C2.29108 18.9894 2.24387 19.295 2.22206 19.6146C2.20116 19.9209 2.20117 20.2935 2.20117 20.7367V21.5634H21.8012V20.7366C21.8012 20.2934 21.8012 19.9209 21.7803 19.6146C21.7585 19.295 21.7113 18.9894 21.588 18.6919C21.4142 18.2722 21.1428 17.9053 20.8012 17.6186V11.2197C20.8257 11.2084 20.85 11.1966 20.8739 11.1844C21.2096 11.0128 21.5028 10.7357 21.6379 10.3202C21.7731 9.90462 21.6989 9.50808 21.5283 9.17183C21.3705 8.86064 21.1222 8.58161 20.8554 8.32871C20.333 7.83367 19.5306 7.25013 18.55 6.53702L14.7888 3.8016C14.2519 3.41106 13.7949 3.07868 13.3897 2.84961C12.9575 2.60529 12.5147 2.43652 12.0013 2.43652ZM7.08443 11.5635C6.93975 11.5635 6.79821 11.5635 6.65991 11.5634H4.80117V16.9634H8.20117V11.5635H7.08443ZM14.2012 11.5635H9.80117V16.9634H14.2012V11.5635ZM15.8012 16.9634V11.5635H16.9182C17.0629 11.5635 17.2044 11.5635 17.3427 11.5634H19.2012V16.9634H15.8012ZM13.25 7.26367C13.25 6.57332 12.6904 6.01367 12 6.01367C11.3096 6.01367 10.75 6.57332 10.75 7.26367V7.31367C10.75 8.00403 11.3096 8.56367 12 8.56367C12.6904 8.56367 13.25 8.00403 13.25 7.31367V7.26367Z" fill="white" class="my-path"></path>
</svg></div>

          <p  class=" text-slate-50">Buyers</p> </div>
        <div  class="flex items-center gap-2  " > 

<div>  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.2 2.42274L5.44069 3.34251C4.81617 3.55065 4.28448 3.72786 3.86562 3.92272C3.41883 4.13056 3.02664 4.39027 2.72872 4.80361C2.4308 5.21695 2.30845 5.67114 2.25255 6.16073C2.20015 6.6197 2.20017 7.18017 2.2002 7.83844V15.5142C2.20016 16.7254 2.20013 17.7234 2.31249 18.4895C2.42956 19.2878 2.69158 20.012 3.36301 20.4959C4.03444 20.9798 4.80428 20.9994 5.59865 20.858C6.30343 20.7326 7.16585 20.4534 8.2 20.1092V2.42274Z" fill="white" class="my-path"></path>
<path d="M9.8 20.1092L14.2 21.5758V3.88927L9.8 2.42261V20.1092Z" fill="white" class="my-path"></path>
<path d="M15.8 3.88944V21.5759L18.5597 20.656C19.1842 20.4479 19.7159 20.2707 20.1348 20.0758C20.5816 19.868 20.9738 19.6083 21.2717 19.1949C21.5696 18.7816 21.6919 18.3274 21.7478 17.8378C21.8002 17.3788 21.8002 16.8184 21.8002 16.1601V8.48431C21.8002 7.27313 21.8003 6.27516 21.6879 5.50905C21.5708 4.71074 21.3088 3.98658 20.6374 3.50265C19.966 3.01871 19.1961 2.99913 18.4017 3.14051C17.6969 3.26596 16.8343 3.54525 15.8 3.88944Z" fill="white" class="my-path"></path>
</svg></div>
          <p class=" text-slate-50"> Region</p> </div>

<div  class="flex items-center  gap-2">

  <div>  <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0591
  2.19983H10.9394C9.10454 2.19981 7.64609 2.1998 6.50353 2.35341C5.32557 2.51178
  4.36431 2.84652 3.60511 3.60572C2.84591 4.36492 2.51117 5.32618 2.3528
  6.50414C2.19919 7.6467 2.1992 9.10515 2.19922 10.94V13.0597C2.1992 14.8945
  2.19919 16.353 2.3528 17.4955C2.51117 18.6735 2.84591 19.6347 3.60511
  20.3939C4.36431 21.1531 5.32557 21.4879 6.50353 21.6462C7.64609 21.7999
  9.10453 21.7998 10.9394 21.7998H13.0591C14.8939 21.7998 16.3523 21.7999
  17.4949 21.6462C18.6729 21.4879 19.6341 21.1531 20.3933 20.3939C21.1525
  19.6347 21.4873 18.6735 21.6456 17.4955C21.7993 16.353 21.7992 14.8945 21.7992
  13.0597V10.94C21.7992 9.10514 21.7993 7.6467 21.6456 6.50414C21.4873 5.32618
  21.1525 4.36492 20.3933 3.60572C19.6341 2.84652 18.6729 2.51178 17.4949
  2.35341C16.3523 2.1998 14.8939 2.19981 13.0591 2.19983ZM11.9992 6.19983C12.441
  6.19983 12.7992 6.558 12.7992 6.99983V12.9998C12.7992 13.4417 12.441 13.7998
  11.9992 13.7998C11.5574 13.7998 11.1992 13.4417 11.1992 12.9998L11.1992
  6.99983C11.1992 6.558 11.5574 6.19983 11.9992 6.19983ZM11.9484 15.1412C11.5066
  15.1412 11.1484 15.4994 11.1484 15.9412C11.1484 16.3831 11.5066 16.7412
  11.9484 16.7412H11.9984C12.4403 16.7412 12.7984 16.3831 12.7984
  15.9412C12.7984 15.4994 12.4403 15.1412 11.9984 15.1412H11.9484Z" 
  class="" fill="white"></path>
    </svg></div>
    <p> Report</p>
</div>
</div>




